<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3"><h2> SIGN IN </h2</p>
          </div><br>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <div id="form3Example3" >
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Enter email", class: "form-control form-control-lg" %>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <div type="password" id="form3Example4"/>
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password",placeholder: "Enter password", class: "form-control form-control-lg" %>
            </div>  
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"><%= f.submit 'Login' %></button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <%= link_to 'Register',new_user_registration_path %></p>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!--
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
  </div>
  -->
</section>
<% end %>